<h1>Listing messages</h1>

<%= form_for @message do |f| %>
  <p><%= f.label :message, 'New message' %></p>
  <p><%= f.text_area :message, :rows => 4 %></p>
  <p><%= f.submit "Send" %></p>
<% end %>

<ul id="messages">
  <%= render :partial => 'messages' %>
</ul>
